# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Eclipse / Android Studio
.idea/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/.project
android/.classpath
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat

# iOS (if added later)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

# VS Code
.vscode/

#env files
.env
.env.local
.env.*.local
